metadata.json
.swap
.swp
tags
.tags
.berkshelf
.berksfile
Berksfile.lock
Gemfile.lock
.vagrant
.vagrant*
.chef/*.pem
.chef/validation.pem
.chef/chef-validator.pem
.chef/provisioned-knife.rb
.chef/mkd2
.chef/checksums
.chef/
.chef/provisioned-knife.rb
vagrant/
